@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
@import url('https://fontlibrary.org//face/open-sauce-one');

body,
html {
	padding: 0;
	margin: 0;
	font-size: 62.5%;
	font-family: 'Inter', sans-serif;
	overflow-x: hidden;
	color: white;
}

div {
	font-size: 1.6rem;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

svg {
	z-index: 2;
}
